.wy-nav-content {
  max-width: 1000px;
}


.iframes-container {
  display: flex;
  position: relative;
  padding-bottom: 3%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
}

.iframes-container iframe {
  display: inline-block;
  width: 50%;
  height: 300px;
}


@media (max-width: 768px) {
  .iframes-container iframe {
    width: 100%;
    padding-bottom: 3%;
  }
}
